.component-steps {
    position: relative;
    overflow: hidden;
    padding-bottom: 4px;

    &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 21px;
        width: 100%;
        height: 1px;
        background-color: $grey-blue;
    }

    .steps {
        display: flex;
        justify-content: space-between;
    }

    .step {
        display: flex;

        .step-text {
            font-weight: 400;
            color: $grey-blue;
        }

        .step-icon {
            @extend %flex-center;
            @include circle(30px);
            position: relative;
            margin-top: 6px;
            margin-left: 9px;
            border: 1px solid $grey-blue;
            background-color: $white;
            font-size: 14px;
            color: $grey-blue;

            .icon {
                position: relative;
                z-index: 1;
            }

            .icon-step-1 {
                font-size: 12px;
            }

            .icon-step-3 {
                padding-right: 1px;
            }

            .icon-step-4 {
                font-size: 13px;
            }
        }

        &.completed,
        &.current {
            
            .step-text {
                color: $blue;
            }
    
            .step-icon {
                position: relative;
                border: 2px solid $blue;
                box-shadow: 0 2px 4px rgba($black, 0.15);

                &::before {
                    content: " ";
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    z-index: 0;
                    width: 9999px;
                    height: 2px;
                    background-color: $blue;
                }
            }
        }

        &.completed {

            .step-text {
                
            }
    
            .step-icon {
                background-color: $blue;
                color: white;
            }
        }

        &.current {

            .step-text {
                
            }
    
            .step-icon {
                color: $blue-2;
            }
        }
    }
}