.section-dispatch {
    padding-bottom: 30px;
    
    .dispatch-right {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .dispatch-terms {
        display: flex;
        align-items: center;
        margin-top: 15px;
        
        .dispatch-text {
            font-size: 14px;
            margin-left: 5px;
        }
    }

    .dispatch-link {
        display: inline-block;
        color: $blue;
        border-bottom: 1px solid $blue;
    }

    .dispatch-button {
        @extend %flex-center;
        margin-top: 14px;
        text-transform: uppercase;
        font-weight: 400;
        color: $white;
        background-color: $orange-3;
        width: 220px;
        height: 40px;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba($black, 0.15);
        transition-duration: 0.3s;

        &:hover {
            background-color: $orange;
        }
    }
}