.section-steps {

    .component-steps {
        margin-top: 19px;
    }

    .shipper-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 8px;
        max-width: 620px;

        .shipper-details-col {
            width: 300px;
        }
    }

    .input-search-wrapper {
        position: relative;

        .input-text {
            padding-right: 23px;
        }

        .button-search {
            @extend %absCenterY;
            position: absolute;
            right: 5px;
            margin-top: -2px;
            font-size: 13px;
            color: $grey-red-2;
            cursor: pointer;
            transition-duration: 0.3s;

            &:hover {
                color: $orange;
            }
        }
    }

    .input-title-wrapper {

        .input-title {
            font-size: 12px;
            color: $grey-blue;
        }

        .input-text {
            margin-top: 3px;
        }
    }

    .shipment-details-title {
        margin-top: 35px;
    }

    .shipment-details-table {
        margin-top: 9px;

        .col-1 {
            width: 12.3%;
        }
        .col-2 {
            width: 6%;
        }
        .col-3 {
            width: 11.2%;
        }
        .col-4 {
            width: 6.7%;
        }
        .col-5 {
            width: 34.6%;
        }
        .col-6 {
            width: 5%;

            .input-text {
                min-width: 39px
            }
        }
        .col-7 {
            width: 4.7%;
        }
        .col-8 {
            width: 7.1%;
        }
        .col-9 {
            width: 7.9%;
        }
        .col-10 {
            width: 4.5%;
        }
    }

    .hazard-tr {

        td,
        .hazard-td {
            padding-top: 1px;
            padding-bottom: 12px;
            transition-duration: 0.3s;
            font-size: 16px;
        
            .hazard-wrapper {
                border-top: 1px solid $grey-blue-2;
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
                height: 51px;
                overflow: hidden;
                transition-duration: 0.3s;

                .hazard-col-1 {
                    width: 6.1%
                }

                .hazard-col-2 {
                    width: 10%
                }

                .hazard-col-3 {
                    width: 25%
                }

                .hazard-col-4 {
                    width: 14.8%
                }

                .hazard-col-5 {
                    width: 15%
                }

                .hazard-col-6 {
                    width: 15%
                }

                .hazard-tipped {
                    display: flex;
                    align-items: flex-end;
                }

                .hazard-tip {
                    color: $blue-3;
                    border-bottom: 1px dotted $blue-3;
                    margin-left: 5px;
                    padding-right: 1px;
                }
            }
        }

        &.hidden {

            &,
            td,
            .hazard-td {
                font-size: 0;
                line-height: 0;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;

                .hazard-wrapper {
                    border-top-width: 0;
                    padding-top: 0;
                    height: 0;
                }

                .input-text,
                .select {
                    height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    border-width: 0;
                }
            }
        }
    }
}
