.section-header {
    position: relative;
    z-index: 3;
    height: 60px;
    background-color: $default-bg;
    box-shadow: 0 0 5px rgba($black, 0.15);

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .header-logo-img {
        margin-top: 7px;
        width: 106px;
    }

    .header-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;
    }

    .header-menu-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        color: $grey-red;

        .header-menu-item-icon {
            margin-right: 12px;
            margin-top: 2px;
            font-size: 17px;
            transition-duration: 0.3s;
            
            &.icon-feedback {
                margin-right: 14px;
                font-size: 19px;
            }
        }
    
        .header-menu-item-text {
            margin-right: 37px;
            margin-top: 4px;
            transition-duration: 0.3s;
        }

        &:hover {
            color: $orange;
        }
    }

    .header-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        .header-user-text {
            font-weight: 400;
            margin-left: 12px;
            margin-right: 10px;
            margin-top: 6px;
            transition-duration: 0.3s;
        }
    
        .header-user-icon {
            margin-right: 8px;
            margin-top: 6px;
            font-size: 7px;
            color: $gray-700;
            transition-duration: 0.3s;
        }
    
        .header-user-img {
            @include circle(32px);
            margin-top: 4px;
        }

        &:hover {

            .header-user-text {
                color: $orange;
            }
        
            .header-user-icon {
                color: $orange;
            }
        }
    }
}