.aside-padding {
    padding-left: 60px;
}

.section-aside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    padding-top: 81px;
    background-color: $default-bg;
    box-shadow: 0 0 4px rgba($black, 0.1);

    .aside-expander {
        display: block;
        position: absolute;
        right: 2px;
        top: 65px;
        padding-left: 0;
        padding-right: 3px;
        font-size: 10px;
        color: $orange-2;
        transform: scaleX(1);
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover {
            padding-left: 3px;
            padding-right: 0;
        }

        &.expanded {
            right: 10px;
            transform: scaleX(-1);
        }
    }

    .aside-menu {

        .aside-menu-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 43px;
            color: $grey-red;
            position: relative;

            .aside-menu-item-icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 44px;
                padding-left: 6px;
            }

            .aside-menu-item-icon {
                font-size: 17px;
                transition-duration: 0.3s;

                &.icon-point-3 {
                    font-size: 18px;
                }

                &.icon-point-4 {
                    font-size: 13px;
                }

                &.icon-point-6 {
                    font-size: 14px;
                }
            }

            .aside-menu-item-text {
                width: 6px;
                white-space: nowrap;
                overflow: hidden;
                transition-duration: 0.3s;
                opacity: 0;
            }

            &::after {
                content: " ";
                position: absolute;
                top: 0;
                right: 0;
                width: 2px;
                height: 100%;
                border-radius: 2px 0 0 2px;
                transition-duration: 0.3s;
            }

            &:hover,
            &.active {
                color: $orange;
            }

            &:hover {
                .aside-menu-item-text {
                    padding-left: 5px;
                }
            }

            &.active {

                .aside-menu-item-text {
                    font-weight: 400;
                }

                &::after {
                    background-color: $orange;
                }
            }
        }

        &.expanded {

            .aside-menu-item-text {
                width: 116px;
                opacity: 1;
            }
        }
    }
}