<div class="component-steps">
    <div class="steps">
        @@for (let step of steps) {
            <div class="step ` +
            (step.isCompleted ? 'completed' :   '')
            + ` ` +
            (step.isCurrent ?   'current' :     '')
            + `">
                <div class="step-text">
                    ` + step.text + `
                </div>
                <div class="step-icon">
                    <i class="icon icon-` + step.icon + `"></i>
                </div>
            </div>
        }
    </div>
</div>