<tr>
    @@if (!isStackabled) {
        <td class="col-1">
            Pallets
        </td>
        <td class="col-2">
            3
        </td>
        <td class="col-3">
            15 x 25 x 23 in
        </td>
        <td class="col-4">
            @@if (isStackable) {Yes}
            @@if (!isStackable) {No}
        </td>
    }
    @@if (isStackabled) {
        <td colspan="4"></td>
    }
    <td class="col-5">
        <div class="input-search-wrapper">
            <input class="input-text" type="text" value="Multigrain Snacks..., 300">
            <button class="button-search">
                <i class="icon icon-loupe"></i>
            </button>
        </div>
    </td>
    <td class="col-6">
        <input class="input-text" type="text" placeholder="NMFC">
    </td>
    <td class="col-7">
        1
    </td>
    <td class="col-8">
        1
    </td>
    <td class="col-9">
        400 lbs
    </td>
    <td class="col-10 centered">
        <label class="label-checkbox">
            <input class="js-hazard-checkbox input-checkbox" data-hazard="@@id" type="checkbox" @@if (isHazard) {checked}>
            <span class="input-checkbox-visual">
                <i class="icon icon-tick"></i>
            </span>
        </label>
    </td>
</tr>
<tr class="js-hazard-details hazard-tr @@if (!isHazard) {hidden}" data-hazard="@@id">
    <td colspan="4"></td>
    <td class="hazard-td" colspan="6">
        <div class="hazard-wrapper">
            <div class="hazard-col-1">
                <label class="select-label">
                    <select class="js-select select" autocomplete="off">
                        <option disabled selected>UN</option>
                        <option>Lorem</option>
                        <option>Ipsum</option>
                        <option>Dolor</option>
                        <option>Sit</option>
                        <option>Amet</option>
                    </select>
                    <span class="select-arrow">
                        <i class="icon icon-dropdown-arrow-2"></i>
                    </span>
                </label>
            </div>
            <div class="hazard-col-2">
                <input class="input-text" type="text" placeholder="UN Number">
            </div>
            <div class="hazard-col-3">
                <input class="input-text" type="text" placeholder="Proper Shipping Name">
            </div>
            <div class="hazard-col-4 hazard-tipped">
                <input class="input-text" type="text" placeholder="Hazard Class">
                <button class="hazard-tip">
                    ?
                </button>
            </div>
            <div class="hazard-col-5">
                <label class="select-label">
                    <select class="js-select select" autocomplete="off">
                        <option disabled selected>Packing Group</option>
                        <option>Lorem</option>
                        <option>Ipsum</option>
                        <option>Dolor</option>
                        <option>Sit</option>
                        <option>Amet</option>
                    </select>
                    <span class="select-arrow">
                        <i class="icon icon-dropdown-arrow-2"></i>
                    </span>
                </label>
            </div>
            <div class="hazard-col-6">
                <label class="select-label">
                    <select class="js-select select" autocomplete="off">
                        <option disabled selected>Packing Type</option>
                        <option>Lorem</option>
                        <option>Ipsum</option>
                        <option>Dolor</option>
                        <option>Sit</option>
                        <option>Amet</option>
                    </select>
                    <span class="select-arrow">
                        <i class="icon icon-dropdown-arrow-2"></i>
                    </span>
                </label>
            </div>
        </div>
    </td>
</tr>