@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9u70ex') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9u70ex') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9u70ex##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aside-expander {
  &:before {
    content: $icon-aside-expander; 
  }
}
.icon-dropdown-arrow-1 {
  &:before {
    content: $icon-dropdown-arrow-1; 
  }
}
.icon-dropdown-arrow-2 {
  &:before {
    content: $icon-dropdown-arrow-2; 
  }
}
.icon-feedback {
  &:before {
    content: $icon-feedback; 
  }
}
.icon-help {
  &:before {
    content: $icon-help; 
  }
}
.icon-loupe {
  &:before {
    content: $icon-loupe; 
  }
}
.icon-point-1 {
  &:before {
    content: $icon-point-1; 
  }
}
.icon-point-2 {
  &:before {
    content: $icon-point-2; 
  }
}
.icon-point-3 {
  &:before {
    content: $icon-point-3; 
  }
}
.icon-point-4 {
  &:before {
    content: $icon-point-4; 
  }
}
.icon-point-5 {
  &:before {
    content: $icon-point-5; 
  }
}
.icon-point-6 {
  &:before {
    content: $icon-point-6; 
  }
}
.icon-step-1 {
  &:before {
    content: $icon-step-1; 
  }
}
.icon-step-2 {
  &:before {
    content: $icon-step-2; 
  }
}
.icon-step-3 {
  &:before {
    content: $icon-step-3; 
  }
}
.icon-step-4 {
  &:before {
    content: $icon-step-4; 
  }
}
.icon-tick {
  &:before {
    content: $icon-tick; 
  }
}

