@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?9u70ex') format('truetype'),
    url('fonts/icomoon.woff?9u70ex') format('woff'),
    url('fonts/icomoon.svg?9u70ex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aside-expander:before {
  content: "\e900";
}
.icon-dropdown-arrow-1:before {
  content: "\e901";
}
.icon-dropdown-arrow-2:before {
  content: "\e902";
}
.icon-feedback:before {
  content: "\e903";
}
.icon-help:before {
  content: "\e904";
}
.icon-loupe:before {
  content: "\e905";
}
.icon-point-1:before {
  content: "\e906";
}
.icon-point-2:before {
  content: "\e907";
}
.icon-point-3:before {
  content: "\e908";
}
.icon-point-4:before {
  content: "\e909";
}
.icon-point-5:before {
  content: "\e90a";
}
.icon-point-6:before {
  content: "\e90b";
}
.icon-step-1:before {
  content: "\e90c";
}
.icon-step-2:before {
  content: "\e90d";
}
.icon-step-3:before {
  content: "\e90e";
}
.icon-step-4:before {
  content: "\e90f";
}
.icon-tick:before {
  content: "\e910";
}
