$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-aside-expander: "\e900";
$icon-dropdown-arrow-1: "\e901";
$icon-dropdown-arrow-2: "\e902";
$icon-feedback: "\e903";
$icon-help: "\e904";
$icon-loupe: "\e905";
$icon-point-1: "\e906";
$icon-point-2: "\e907";
$icon-point-3: "\e908";
$icon-point-4: "\e909";
$icon-point-5: "\e90a";
$icon-point-6: "\e90b";
$icon-step-1: "\e90c";
$icon-step-2: "\e90d";
$icon-step-3: "\e90e";
$icon-step-4: "\e90f";
$icon-tick: "\e910";

