<div class="section-dispatch">
    <div class="container">
        <div class="dispatch-right">
            <div class="dispatch-terms">
                <label class="label-checkbox small">
                    <input class="input-checkbox" type="checkbox">
                    <span class="input-checkbox-visual">
                        <i class="icon icon-tick"></i>
                    </span>
                </label>
                <span class="dispatch-text">
                    I agree to the <a class="dispatch-link" href="#">Terms and Conditions</a>
                </span>
            </div>
            <a class="dispatch-button" href="#">
                Dispatch
            </a>
        </div>
    </div>
</div>