<div class="section-steps aside-padding">
    <div class="container">
        @@include("components/component-steps.html", {
            "steps": [
                {
                    "isCompleted":  true,
                    "isCurrent":    false,
                    "text":         "1. Step",
                    "icon":         "step-1"
                },
                {
                    "isCompleted":  true,
                    "isCurrent":    false,
                    "text":         "2. Step",
                    "icon":         "step-2"
                },
                {
                    "isCompleted":  false,
                    "isCurrent":    true,
                    "text":         "3. Step",
                    "icon":         "step-3"
                },
                {
                    "isCompleted":  false,
                    "isCurrent":    false,
                    "text":         "4. Step",
                    "icon":         "step-4"
                }
            ]
        })
        <div>
            <h3 class="h3">
                Shipper Details
            </h3>
        </div>
        <div class="shipper-details">
            <div class="shipper-details-col">
                <div class="input-search-wrapper">
                    <input class="input-text" type="text" placeholder="Company Autocomplete">
                    <button class="button-search">
                        <i class="icon icon-loupe"></i>
                    </button>
                </div>
            </div>
            <div class="shipper-details-col">
                <div class="input-title-wrapper">
                    <div class="input-title">
                        Company name
                    </div>
                    <input class="input-text" type="text" value="Urban Space">
                </div>
            </div>
        </div>
        <div>
            <h3 class="h3 shipment-details-title">
                Shipment Details
            </h3>
        </div>
        <table class="shipment-details-table">
            <tr>
                <th class="col-1">
                    Handling Unit Type (H/U)
                </th>
                <th class="col-2">
                    # of H/U
                </th>
                <th class="col-3">
                    H/U Dimensions
                </th>
                <th class="col-4">
                    Stackable
                </th>
                <th class="col-5">
                    Commodity Descriprion
                </th>
                <th class="col-6">
                    NMFC 
                </th>
                <th class="col-7">
                    Class
                </th>
                <th class="col-8">
                    # of Pieces
                </th>
                <th class="col-9">
                    Total Weight
                </th>
                <th class="col-10 centered">
                    HazMat
                </th>
            </tr>
            @@include("components/component-shipment-details-row.html", {
                "id":           1,
                "isStackable":  true,
                "isStackabled": false,
                "isHazard":     false
            })
            @@include("components/component-shipment-details-row.html", {
                "id":           2,
                "isStackable":  true,
                "isStackabled": true,
                "isHazard":     true
            })
            @@include("components/component-shipment-details-row.html", {
                "id":           3,
                "isStackable":  false,
                "isStackabled": false,
                "isHazard":     false
            })
            <tr>
                <td colspan="10"></td>
            </tr>
        </table>
    </div>
</div>