<aside class="section-aside">
    <button class="js-expander aside-expander" data-expand="aside">
        <i class="icon icon-aside-expander"></i>
    </button>
    <nav class="js-expanded aside-menu" data-expand="aside">
        <a class="aside-menu-item active" href="#">
            <div class="aside-menu-item-icon-wrapper">
                <i class="aside-menu-item-icon icon icon-point-1"></i>
            </div>
            <div class="aside-menu-item-text">
                Point 1
            </div>
        </a>
        <a class="aside-menu-item" href="#">
            <div class="aside-menu-item-icon-wrapper">
                <i class="aside-menu-item-icon icon icon-point-2"></i>
            </div>
            <div class="aside-menu-item-text">
                Point 2
            </div>
        </a>
        <a class="aside-menu-item" href="#">
            <div class="aside-menu-item-icon-wrapper">
                <i class="aside-menu-item-icon icon icon-point-3"></i>
            </div>
            <div class="aside-menu-item-text">
                Point 3
            </div>
        </a>
        <a class="aside-menu-item" href="#">
            <div class="aside-menu-item-icon-wrapper">
                <i class="aside-menu-item-icon icon icon-point-4"></i>
            </div>
            <div class="aside-menu-item-text">
                Point 4
            </div>
        </a>
        <a class="aside-menu-item" href="#">
            <div class="aside-menu-item-icon-wrapper">
                <i class="aside-menu-item-icon icon icon-point-5"></i>
            </div>
            <div class="aside-menu-item-text">
                Point 5
            </div>
        </a>
        <a class="aside-menu-item" href="#">
            <div class="aside-menu-item-icon-wrapper">
                <i class="aside-menu-item-icon icon icon-point-6"></i>
            </div>
            <div class="aside-menu-item-text">
                Point 6
            </div>
        </a>
    </nav>
</aside>