<header class="section-header">
    <div class="container header-container">
        <div>
            <a class="header-logo" href="/">
                <img class="header-logo-img" alt="SuperPoint logo" src="assets/images/logo.svg">
            </a>
        </div>
        <nav class="header-menu">
            <a class="header-menu-item" href="#">
                <i class="header-menu-item-icon icon icon-feedback"></i>
                <span class="header-menu-item-text">
                    Feedback
                </span>
            </a>
            <a class="header-menu-item" href="#">
                <i class="header-menu-item-icon icon icon-help"></i>
                <span class="header-menu-item-text">
                    Help
                </span>
            </a>
            <div class="header-user">
                <span class="header-user-text">
                    John Johnson
                </span>
                <i class="header-user-icon icon icon-dropdown-arrow-1"></i>
                <img class="header-user-img" alt="User John Johnson" src="assets/images/logo-cutted.svg">
            </div>
        </nav>
    </div>
</header>