// ############ Colors ############

$white:     #ffffff;
$gray-600:  #565656;
$gray-700:  #444444;
$black:     #000000;

$grey-red:      #8c8a86;
$grey-red-2:    #6f6c69;
$grey-blue:     #b4b4b3;
$grey-blue-2:   #eaeced;

$orange:    #e37222;
$orange-2:  #ff7310;
$orange-3:  #eeaa79;
$blue:      #00b7bd;
$blue-2:    #6bbbc1;
$blue-3:    #66b9bf;
$blue-4:    #11bcc3;