*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    background-color: transparent;
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    font: #{$default-font-weight} #{$default-font-style} #{$default-font-size} / #{$default-line-height} #{$default-font-family};
    color: $default-color;
    background-color: $default-bg;
    min-width: 768px;
    font-weight: $default-font-weight;
}

.layout {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1;
}

.h3 {
    display: inline-block;
    margin-top: 23px;
    border-bottom: 1px solid $orange;
    color: $blue;
    line-height: 1.25em;
}

a {
    text-decoration: none;
}

.select-label {
    width: 100%;
    display: block;
    position: relative;
}

.select-arrow {
    @extend %flex-center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 13px;
    height: 100%;
    font-size: 3px;
    color: $gray-700;
    background-color: $default-bg;
}

input[type="text"],
.select {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    color: inherit;
    outline-width: 0;
    border-width: 0;
    border-bottom: 1px solid $grey-blue;
    padding-top: 4px;
    padding-bottom: 4px;
    max-width: 100%;
    width: 100%;
    height: 30px;
    transition-duration: 0.3s;
    @include placeholder {
        color: $grey-blue;
    }

    &:focus {
        border-bottom-color: $orange;
    }
}

.select {
    position: relative;
    z-index: 1;
    appearance: none;
    
    background-color: transparent;
    padding-right: 13px;

    &::-ms-expand {
        display: none;
    }
}

.select:not(.selected) {
    color: $grey-blue;

    option {
        color: $default-color;

        &:disabled {
            color: $grey-blue;
        }
    }
}

.label-checkbox {
    position: relative;
    display: inline-block;
    transform: translateY(6px);

    .input-checkbox {
        position: absolute;
        left: -9999px;

        & + .input-checkbox-visual {
            @extend %flex-center;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 1px solid $grey-blue;
            border-radius: 2px;
            width: 20px;
            height: 20px;
            font-size: 16px;
            color: transparent;
            transition-duration: 0.3s;
            cursor: pointer;
        }

        &:checked {
            
            & + .input-checkbox-visual {
                border-color: transparent;
                color: $blue-4;
                width: 30px;
                height: 30px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    &.small {
        transform: translateY(0);

        .input-checkbox {
    
            & + .input-checkbox-visual {
                width: 18px;
                height: 18px;
                font-size: 14px;
                margin-left: 5px;
                margin-right: 5px;
            }
    
            &:checked {
                
                & + .input-checkbox-visual {
                    width: 28px;
                    height: 28px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-bottom: 1px solid $grey-blue-2;

    .centered {
        text-align: center;
    }
}

tr {

    &:last-child {
        td {
            padding: 0;
            height: 11px;
        }
    }
}

th,
td {
    text-align: left;
}

th:not(:first-child),
td:not(:first-child) {
    padding-left: 15px;
}

th:not(:last-child),
td:not(:last-child) {
    padding-right: 15px;
}

@media (max-width: 960px) {
    th:not(:first-child),
    td:not(:first-child) {
        padding-left: 5px;
    }

    th:not(:last-child),
    td:not(:last-child) {
        padding-right: 5px;
    }
}

th {
    font-size: 14px;
    color: $grey-blue;
    vertical-align: bottom;
    border-bottom: 1px solid $grey-blue-2;
    padding-bottom: 8px;
}

td {
    padding-top: 10px;
    padding-bottom: 19px;
}