// ############ Fonts ############

@mixin font-face ($name, $file-name, $font-weight: 400, $font-style: normal) {
    @font-face {
        font-family: $name;
        src: url('#{$path-fonts}#{$file-name}.woff2') format('woff2'),
             url('#{$path-fonts}#{$file-name}.woff') format('woff'),;
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

$assistant:         'Assistant';

@import "../../fonts/icomoon/style.scss";

$font-primary:      $assistant, sans-serif;