// Make centered via @extend
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clear offset */
%clear-offset {
    margin: 0;
    padding: 0;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: $size;
}

%absCenterY {
    top: 50%;
    transform: translateY(-50%);
}

%absCenterX {
    left: 50%;
    transform: translateX(-50%);
}

%absCenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}