// ############ Default ############

// Html 
$default-font-family:   $font-primary;
$default-font-size:     16px;
$default-line-height:   1;
$default-font-weight:   300;
$default-font-style:    normal;
$default-color:         $gray-600;
$default-bg:            $white;